.main {
    width: 100%;
    height:100vh;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    left: 10px;
    position:  absolute;
    height: 100%;
    
    top: 0px;
    display: flex;
    align-items:  flex-start;
      justify-content:  center;
     flex-direction: column;
     color: white;
     padding: 20px;
   }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /* background-color: #000000cc; */
  }
  .buy{
    padding: 0px 60px;
  
    border-radius:   30px;
     color:  #fff;
     background-color: #febd69 ;

    right: 0;
   height: 50px;
   font-size: 15px;
   text-transform: capitalize;
  }
 
  .content h1 {
     font-size: 1.5rem;
     margin-bottom: 2rem;
   }
  .content p {
    font-size: 1.2rem;
    width: 100%;
   }





   @media only screen and (max-width: 1648px) {
   .content{
    top: 100px;
   }
   }